{% extends "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<br>

<div class="container col-md-6 d-flex shadow-md p-5 form-layout card">

<h2> <i class="fa fa-lock fa-2x" style="color: #384B70;" aria-hidden="true"></i> &nbsp; Forgot your password?</h2>

<hr>

  <p class="text-dark">We’ve received a request to reset the password for the E-commerce Aroma - Fragrance account associated with {{user.email}}.</p>
    <p class="text-dark"> No changes have been made to your account yet.</p>

    

  <p class="text-dark">You can reset your password by enter your email address below: </p>

<form method="post">
    {% csrf_token %}

    {{ form | crispy }}

    <br>

    <button type="submit" class="btn btn-lg w-100 btn-block p-2 text-white" style="background-color: #AF8260;"> &nbsp; Reset Password </button>
    
</form>



</div>
<br>

{% endblock %}