{% extends "store/base.html" %}

{% load static %}

{% block content %}

<style>

</style>

<body>

<br>   

<div class="container col-md-6 d-flex shadow-md p-5 form-layout card">

    
    <div class="text-center">

    <i class="fa fa-check-circle fa-3x" style="color:#6EC207;"></i>



<h2> <strong> Hello, your payment at Aroma - Fragrance was successful! </strong> </h2>

<hr>

<h6> Thank you for shopping with us. </h6>

<h6>Please check your email to see your order.</h6>

</div>

</div>

</body>
{% endblock  %}